@inject UserManager<ApplicationUser> um
@{
    ViewData["Title"] = "Administracija";

    var user = await um.GetUserAsync(User);
}


<h2>Administrator sajta</h2>

<dl>
    <dt>Ime</dt>
    <dd>@user.Ime</dd>

    <dt>Prezime</dt>
    <dd>@user.Prezime</dd>
</dl>
